<template name="postSubmit">
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
        <input type="text" name="url" value="" placeholder="Your URL"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input type="text" name="title" value="" placeholder="Name your post"/>
      </div>
    </div>
  </form>
</template>
