<template name="postEdit">
  {{#with post}}
    <form class="main">
      <div class="control-group">
        <label class="control-label" for="url">URL</label>
        <div class="controls">
          <input type="text" name="url" value="{{url}}" placeholder="Your URL"/>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
          <input type="text" name="title" value="{{title}}" placeholder="Name your post"/>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="submit" value="Submit" class="btn btn-primary submit"/>
        </div>
      </div>
      <hr/>

    </form>
  {{/with}}
</template>
